<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test" verbose="1">
    <test name="MedicinesSaxBuilderTest">
        <classes>
            <class name="test.metelski.xmltask.builder.MedicinesSaxBuilderTest"/>
        </classes>
    </test>
    <test name="CustomXMLValidatorTest">
        <classes>
            <class name="test.metelski.xmltask.validation.CustomXMLValidatorTest"/>
        </classes>
    </test>
    <test name="MedicinesDomBuilderTest">
        <classes>
            <class name="test.metelski.xmltask.builder.MedicinesDomBuilderTest"/>
        </classes>
    </test>
    <test name="MedicinesStaxBuilderTest">
        <classes>
            <class name="test.metelski.xmltask.builder.MedicinesStaxBuilderTest"/>
        </classes>
    </test>

</suite>
